@page "/about"

<h3>О проекте</h3>

<p>
    PureDrive - это Облачное хранилище документов организации, которое представляет собой систему, 
    которая позволяет сотрудникам и администраторам хранить, 
    управлять и делиться документами через локальную сеть. 
    Это может включать в себя различные типы файлов, такие как текстовые документы, 
    презентации, таблицы, изображения и другие форматы.
</p>

<InfoBox Title="Что такое облако?"
         Content="Облачное хранилище — это сервис, 
который позволяет размещать файлы не на собственных носителях, 
а на серверах поставщика услуги.">
    
</InfoBox>

<p>
    Современное общество тесно связанно с технологиями. 
    Они окружают нас всё время: на работе, дома, даже на улице. 
    В число этих технологий входят и «облака». 
    Этот термин стал использоваться совсем недавно, с 2008 года. Они представляют собой новые инновационные технологии, 
    которые предоставляют обычным пользователям динамично масштабируемые вычислительные ресурсы
</p>

<InfoBox Title="Актуально ли это сейчас?"></InfoBox>

<p>
    Сегодня облачные технологии являются одним из наиболее перспективных направлений 
    развития информационных технологий. 
    Они позволяют существенно повысить эффективность работы организаций, 
    сократить затраты на IT-инфраструктуру и обеспечить высокий уровень безопасности данных. 
    В связи с этим разработка облачного хранилища является актуальной задачей
    для многих компаний.
</p>

<InfoBox Title="Цель проекта"
         Content="создание облачного хранилища для организации, 
которое будет соответствовать современным требованиям 
к таким системам и обеспечивать надёжное хранение и обработку данных" 
         />

<a class="btn btn-info" style="color:#fff" href="/about/techs">Детали</a>

<p></p>