@page "/about/techs"

<h3>Информация о использованных технологиях</h3>

<div class="alert alert-heading">
    <p>
        В рамках выпускной квалификационной работы, были использованы следующие компоненты:
    </p>

    <div class="alert alert-danger">
        <h4>Blazor</h4>
        <p>
            Бесплатная веб-платформа с открытым исходным кодом,
            позволяющая разработчикам создавать веб-приложения с использованием C# и HTML.
        </p>
    </div>
    
    
    <div class="alert alert-warning">
        <h4>SQL Server</h4>
        <p>
            Система управления реляционными базами данных (РСУБД), разработанная корпорацией Microsoft.
        </p>
    </div>
    
    <div class="alert alert-success">
        <h4>Table-to-Table</h4>
        <p>
            <a href="https://github.com/AlexeyTolstopyatov/tsql-insert-master-wpf">Приложение</a>,
            разработанное для обработки больших неструктурированных данных в виде *.CSV файлов в T-SQL инструкции.
        </p>
    </div>
        
    <div class="alert alert-primary">
        <h4>Explanatory Notes Reading Service (XNRS)API</h4>
        <p>
            Программый интерфейс разработанного <a href="https://github.com/AlexeyTolstopyatov/xnrs-wpf">приложения</a>,
            для чтения и перевода структурированных XML файлов в HTML
        </p>
    </div>

    <div class="alert alert-secondary">
        <h4>Windows Presentation Framework</h4>
        <p>
            представляет собой графическую подсистему в составе .NET Framework (начиная с версии 3.0), использующую язык XAML.
        </p>
        <div class="alert alert-heading">
            <h5>Handy Controls</h5>
            <p>
                Библиотека компонентов пользовательского интерфейса (UI) для C# и WPF с открытым исходным кодом.
            </p>
        </div>
    </div>

</div>